div{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

header{
  width: 100%;
  height: 800px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  background: linear-gradient(135deg, #cb6cff, #1900b6);
}

h1{
  color: #1900b6;
}

.mt-md-2 {
  margin-top: 60px !important;
}

.mt-md-5 {
  margin-top: 300px !important;
}

#profilPhoto {
  width: 115px;
  height: 150px;
}
