<header id="header_menu row">

  <div id="identity" class="row offset-md-1 col-md-3 mt-md-2">
    <div class="col-md-8">
      <h1>{{ name }}</h1>
      <h1>{{ forename }}</h1>
    </div>
    <div class="col-md-4">
      <img id="profilPhoto" class="mr-auto" [src]="imgPath" alt="Photo de profile"/>
    </div>
  </div>

  <div id="contactMe" class="col-md-2 offset-md-9 mt-md-5">
    <h4>Me contacter</h4>
    <ul>
      <li><a href="">Par mail</a></li>
      <li><a href="">Mon instagram</a></li>
    </ul>
  </div>

</header>



