<section id="container" (scroll)="scrollHandler($event)" xmlns="http://www.w3.org/1999/html">

  <div id="slideshow">
    <ul id="slideContent">
      <li><img [src]="imgSlideRobotHexapod" alt="Image du projet robot hexapode." class="imgSlide"></li>
      <li><img [src]="imgSlideServerNAS" alt="Image du projet de serveur NAS." class="imgSlide"></li>
    </ul>
  </div>

  <div id="presentMeBox">
      <div class="presentMe">
        <p class="text">Je m'appelle Tom Willemin et bienvenue sur mon portfolio.
          <br>Je suis en deuxième année de licence professionnelle développeur informatique.
          <br>Sur ce portfolio je vous partage les projets qui m'ont permis de faire évoluer mes compétences.
          Ils sont assez diversifiés car tous les domaines de l'informatique m'intéressent.
          <br>Le développement personnel est une facette importante de ma vie.
          C'est pourquoi je me fixe toujours de nouveaux objectifs afin d'être en constante évolution.
          <br>Bonne visite !
        </p>
      </div>
      <div id="greyBox"></div>
  </div>

</section>

