@font-face {
  font-family: 'fulbo-argenta';
  src: url('./../../../assets/police/Fulbo-Argenta.otf');
}

div{
  /*border-width: 1px;
  border-style: solid;
  border-color: black;*/
}

header{
  width: 100%;
  height: 100%;
 /* border-width: 1px;
  border-style: solid;
  border-color: red; */
  overflow: hidden;
}

h1{
  color: black;
}

.mt-md-2 {
  margin-top: 40px !important;
}

.mt-md-4 {
  margin-top: 110px !important;
}

#profilPhoto {
  width: 115px;
  height: 150px;
}

#headerBlocOne{
  height: 820px;
  overflow: hidden;
  background-color: #95a595;
}

#headerBlocTwo{
  height: 750px;
  background-color: #727272;
  overflow: hidden;
}

#headerMenu{
  padding-top: 1.5%;
}

.headerMenuContent{
  color: floralwhite;
  text-decoration: none;
  font-size: 1.5em;
  font-family: fulbo-argenta, serif;
}

#profil{
  z-index: 10;
  position: absolute;
  top: 70%;
  right: 28%; /*33*/
  //background-color: floralwhite;
  height: 120px;
  width: 250px;
  color: white;
  font-family: fulbo-argenta, serif;
  //border-width: 1px;
  //border-style: solid;
  //border-color: black;
}

.headerProfilContent {
  color: floralwhite;
  font-size: 4em;
}

#imgRobotHeader{
  position: relative;
  animation-name: imgRobotHeader;
  animation-duration: 2s;
  width: 120%;
  top: 10%;
}

@keyframes imgRobotHeader {
  0%   {left:120%; top: 10%;}
  100% {left:0px; top: 10%;}
}

#imgNASHeader{
  width: 120%;
  position: relative;
  top: 150px;
  right: 50%;
  animation-name: imgNASHeader;
  animation-duration: 2s;
}

@keyframes imgNASHeader {
  0%   {right:120%; top:150px;}
  100% {right:50%; top:150px;}
}
